<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ID</key>
	<string>B61C3F79-8A27-4B9B-A92A-70FCB28E287F</string>
	<key>description</key>
	<string>Install Apple iLife 11.</string>
	<key>meta</key>
	<string>NO</string>
	<key>steps</key>
	<dict>
		<key>1</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iLifeRegistration.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>2</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iLifeCookie.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>3</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>AppleIntermediateCodec.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>4</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>RAWCameraUpdate3.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>5</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iLifeMediaBrowser.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>6</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iLifeSlideshow_v2.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>7</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iLifeFaceRecognition.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>8</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iLifeAudioAnalysis.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>9</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iPhoto.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>10</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iPhotoContent.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>11</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iPhotoLibraryUpgradeTool.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>12</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>ProAppRuntimeFlat.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>13</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iMovie.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>14</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iMovie_PreviousFolder.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>15</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iDVD.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>16</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>GarageBand.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>17</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>GarageBand_Instruments.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>18</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>GarageBandFactoryContent.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>19</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>GarageBand_LTPContent.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>20</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>GarageBand_Loops.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>21</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>GarageBand_MagicContent.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>22</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iLifeSoundEffects_Loops.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>23</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iWeb.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
		<key>24</key>
		<dict>
			<key>automate</key>
			<string>YES</string>
			<key>ignoreinstallfailure</key>
			<string>NO</string>
			<key>package</key>
			<string>iLifeRegistrationPost.pkg</string>
			<key>postponedinstall</key>
			<string>YES</string>
			<key>targettype</key>
			<string>lastselectedtarget</string>
			<key>task</key>
			<string>install</string>
			<key>title</key>
			<string>Install task</string>
		</dict>
	</dict>
	<key>title</key>
	<string>Install Apple iLife 11</string>
</dict>
</plist>
